[Desktop Entry]
Name=Gnobots
Name[es]=Gnobots
Name[de]=Gnobots
Name[ko]=Gnobots
Name[fr]=Gnobots
Name[no]=Gnobots
Name[pt]=Gnobots
Comment=Gnome Robots game
Comment[es]=Trate de escapar a los robots que le asedian
Comment[de]=Gnome Robots game
Comment[ko]=Gnome Robots game
Comment[fr]=Jeu Gnome Robots
Comment[no]=Gnome Robots game
Comment[pt]=Jogo Gnome Robots
Exec=gnobots
Icon=gnome-gnobots.png
Terminal=0
Type=Application
