[Desktop Entry]
Name=Gnobots
Name[de]=Gnobots
Name[es]=Gnobots
Name[fi]=Gnobots
Name[fr]=Gnobots
Name[ko]=Gnobots
Name[no]=Gnobots
Name[pt]=Gnobots
Name[ru]=Гноботс
Comment=Gnome Robots game
Comment[de]=robots(6) fЭr Gnome
Comment[es]=Trate de escapar a los robots que le asedian
Comment[fi]=Gnome-robotit
Comment[fr]=Essayez d'Иchaper aux robots qui vous poursuivent
Comment[ko]=Gnome Robots game
Comment[no]=Gnome Robots game
Comment[pt]=Jogo Gnome Robots
Comment[ro]=Игра Роботы для Gnome
Exec=gnobots
Icon=gnome-gnobots.png
Terminal=0
Type=Application
