[Desktop Entry]
Name=gTuring
Name[de]=gTuring
Name[no]=gTuring
Comment=Waste time with a simulated Turing machine
Comment[de]=Nette Zeitverschwendung mittels einer simulierten Turingmaschine
Comment[no]=Kast bort tiden med en simulert Turing maskin
Exec=gturing
Terminal=0
Type=Application