[Desktop Entry]
Name=Same Gnome
Name[da]=Samme Gnome
Name[de]=Same Gnome
Name[es]=Same Gnome
Name[et]=Same Gnome
Name[fi]=Same Gnome
Name[fr]=Same Gnome
Name[ga]=An Gnome Cianna
Name[gl]=Same Gnome
Name[ja]=╓╣╓АGnome
Name[ko]=╪╪юс╠вЁП
Name[no]=Same Gnome
Name[pt]=Same Gnome
Name[ru]=Тот же Gnome
Name[sv]=Same Gnome
Comment=Gnome SameGame program
Comment[da]=Gnome klon af SameGame
Comment[de]=Gnome-Variante des Spiels SameGame
Comment[es]=Juego Gnome SameGame
Comment[et]=SameGame GNOME variant
Comment[fi]=Gnomeversio SameGamesta
Comment[fr]=Clone GNOME du Jeu SameGame
Comment[ga]=An Gnome Cianna
Comment[gl]=Xogo SameGame de Gnome
Comment[ja]=╓╣╓АGnome
Comment[ko]=╠вЁП ╪╪юс╠вЁП ╟тюс
Comment[no]=Gnome klone av SameGame
Comment[pt]=Variante Gnome do jogo SameGame
Comment[pt_BR]=Programa SameGame Gnome
Comment[ru]=Та же игра для Game
Comment[sv]=Gnome-klon av SameGame
Exec=same-gnome
Icon=gnome-gsame.png
Terminal=0
Type=Application
