[Desktop Entry]
Name=Same Gnome
Name[de]=Same Gnome
Name[es]=Same Gnome
Name[fr]=Same Gnome
Name[ga]=An Gnome Cianna
Name[ja]=¤µ¤áGnome
Name[ko]=¼¼ÀÓ±×³ð
Name[no]=Same Gnome
Name[pt]=Same Gnome
Comment=Gnome SameGame program
Comment[de]=Gnome Variante des Spiels SameGame
Comment[es]=Juego Gnome SameGame
Comment[fr]=Clone GNOME du Jeu SameGame
Comment[ga]=An Gnome Cianna
Comment[ja]=¤µ¤áGnome
Comment[ko]=±×³ð ¼¼ÀÓ±×³ð °ÔÀÓ
Comment[no]=Gnome klone av SameGame
Comment[pt]=Variante Gnome do jogo SameGame
Exec=same-gnome
Icon=gnome-gsame.png
Terminal=0
Type=Application
