[Desktop Entry]
Name=Mahjongg
Name[de]=Mahjongg
Name[es]=Mahjongg
Name[fr]=Mahjongg
Name[ko]=마작
Name[no]=Mahjongg
Name[pt]=Mahjongg
Comment=Gnome Mahjongg program
Comment[de]=Gnome Mahjongg
Comment[es]=Juego de Mahjongg
Comment[fi]=Mahjongg peli
Comment[fr]=Jeu de Mahjongg GNOME
Comment[kp]=Gnome 마작
Comment[no]=Spillet Mahjongg
Comment[pt]=Jogo de Mahjonng Gnome
Exec=mahjongg
Icon=gnome-mahjongg.png
Info=Gnome Mahjongg program
Terminal=0
Type=Application
