[Desktop Entry]
Name=Gnometris
Name[da]=Gnometris
Name[de]=Gnometris
Name[es]=Gnometris
Name[et]=Gnometris
Name[fi]=Gnometris
Name[fr]=Gnometris
Name[gl]=Gnometris
Name[ja]=GNOME•»•Í•π
Name[no]=Gnometris
Name[ru]=ÁŒœÕ≈‘“…”
Name[sv]=Gnometris
Comment=Gnome Tetris Game
Comment[da]=Tetris spil til Gnome
Comment[de]=Gnome-Tetris-Spiel
Comment[es]=El juego de Tetris de Gnome
Comment[et]=Tetris, sedapuhku GNOME-le
Comment[fi]=Gnome-tetrisklooni
Comment[fr]=Le jeu Tetris de Gnome
Comment[gl]=Xogo de Tetris de Gnome
Comment[ja]=GNOME•∆•»•Í•π
Comment[no]=Tetris spill for Gnome
Comment[ru]=Ù≈‘“…” ƒÃ— Gnome
Comment[sv]=Tetrisspell fˆr Gnome
Icon=gnome-gtetris.png
Exec=gnometris
Terminal=0
Type=Application
