[Desktop Entry]
Name=Gnometris
Name[es]=Gnometris
Name[fr]=Gnometris
Comment=Gnome Tetris Game
Comment[es]=El juego de Tetris de Gnome
Comment[fr]=Le jeu Tetris de Gnome
Icon=gnome-gtetris.png
Exec=gnometris
Terminal=0
Type=Application
