[Desktop Entry]
Name=Gnometris
Name[de]=Gnometris
Name[es]=Gnometris
Name[fi]=Gnometris
Name[fr]=Gnometris
Name[no]=Gnometris
Name[ru]=Гнометрис
Comment=Gnome Tetris Game
Comment[de]=Gnome-Tetris-Spiel
Comment[es]=El juego de Tetris de Gnome
Comment[fi]=Gnome-tetrisklooni
Comment[fr]=Le jeu Tetris de Gnome
Comment[no]=Tetris spill for Gnome
Comment[ru]=Тетрис для Gnome
Icon=gnome-gtetris.png
Exec=gnometris
Terminal=0
Type=Application
