[Desktop Entry]
Name=Gnome-Stones
Name[fi]=Gnome-luolat
Name[fr]=Gnome-Stones
Name[no]=Gnome-steiner
Name[ru]=Gnome-камни
Name[de]=Gnome-Stones
Comment=Gnome Stones game
Comment[es]=Juego Gnome Stones
Comment[fi]=Boulderdash-klooni
Comment[fr]=Jeu Gnome Stones
Comment[no]=Gnome-steiner spill
Comment[ru]=Игра Gnome-камни
Comment[de]=Das Spiel Gnome-Stones
Exec=gnome-stones
Icon=gnome-stones.png
Terminal=0
Type=Application
