[Desktop Entry]
Name=Metatris
Name[es]=Metatris
Name[fr]=Metatris
Name[no]=Metatris
Name[pt]=Metatris
Name[ru]=Метатрис
Comment=Gnome's Metatris
Comment[ru]=Игра Метатрис для Gnome
TryExec=metatris
Exec=metatris
Icon=gnome-metatris.png
Terminal=0
Type=Game
