[Desktop Entry]
Name=Metatris
Name[es]=Metatris
Name[fr]=Metatris
Name[no]=Metatris
Name[pt]=Metatris
Comment=Gnome's Metatris
TryExec=metatris
Exec=metatris
Icon=gnome-metatris.png
Terminal=0
Type=Game
