[Desktop Entry]
Name=Gnome xBill
Name[fi]=xBill
Name[no]=Gnome xBill
Comment=Gnome version of the popular xBill game
Comment[fi]=GNOME-versio suositusta xBill-pelistä
Comment[no]=Gnome versjon av det populære xBill spillet
Icon=xbill.png
Exec=gnome-xbill
Terminal=0
Type=Application
