[Desktop Entry]
Icon=gataxx.png
Name=gataxx
Name[de]=gataxx
Name[fi]=gataxx
Name[ja]=gataxx
Name[no]=gataxx
Comment=Gnome ataxx game
Comment=Ataxx-Spiel für Gnome
Comment[fi]=Gnome-ataxx-peli
Comment[ja]=GNOMEÈÇataxx¥²¡¼¥à
Comment[no]=Gnome ataxx spill
Exec=gataxx
Terminal=0
Type=Application
